/* this is the page change fade animation*/
@view-transition {
    navigation: auto;
}

:root {
    /* we support light mode, technically, but the colors are not relative as-is
    it is better to support what we have all been using apparently.
    color-scheme: light dark;*/
    color-scheme: light dark blue red;
}
:root[data-theme = "light"] {
    color-scheme: light
}
:root[data-theme = "dark"] {
    color-scheme: dark
}
:root[data-theme = "light"] body {
    background-color: #cfcdcd;
}

:root[data-theme = "dark"] body {
    background-color: #2e2e2e;
}
/* Blue theme color with a dark browser control*/
:root[data-theme = "blue"] {
    color-scheme: dark
}
:root[data-theme = "blue"] body {
    background-color: #1f2f8c;
}

/* Red theme color, with a dark browser controls */
:root[data-theme = "red"]{
    color-scheme: dark;
}
:root[data-theme = "red"] body {
    background-color: #6f1111;
}

/* This is the system prefereed dark mode color */
@media (prefers-color-scheme: light) {
    body {
        background-color: #cfcdcd;
    }
}

/* This is the system prefereed dark mode color */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #2e2e2e;
    }
}

/* this is the default colorscheme */
@media (prefers-color-scheme:default){
    body {
        background-color: #2e2e2e;
    }
}

/* responsiveness */
@media (min-width: 768px) {
    h1 {
        font-size: 45px !important;
    }

    .column,
    .column_left {
        flex: 1 1 100%;
    }
}

body {
    color: CanvasText;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* properties of links  */
a {
    color: rgb(209, 209, 209);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* ANIMATED BACKGROUND BY CHRIS SMITH. LINK: https://codepen.io/chris22smith/pen/RZogMa*/

.bg {
    animation: slide 8s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(59, 86, 85) 50%, rgb(148, 162, 172) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 10s;
}

.bg3 {
    animation-duration: 12s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

/* --------- */

/* DEVELOPER CARD MADE BY akshat-patel28 ON uiverse. LINK: https://uiverse.io/akshat-patel28/splendid-mayfly-26 */
.card {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 280px;
    max-height: 330px;
    background-color: rgba(195, 194, 194, 0.2);
    border-radius: 10px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
        -4px -4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: all 0.3s;
    cursor: default;
    box-sizing: border-box;
    padding: 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
        -4px -4px 12px rgba(0, 0, 0, 0.08);
}

.card-image-container {
    width: 100%;
    height: 64%;
    border-radius: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    background-color: rgb(212, 211, 211);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-icon {
    font-size: 40px;
}

.card-title {
    margin: 0;
    font-size: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #c9d3d6;
    cursor: pointer;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.card-des {
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    margin: 0;
    padding-top: 5px;
    font-size: 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #bbc5c8;
    cursor: default;
}


/* --------- */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/* HEADER */

.headerContainer {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(46, 46, 46, 0.8);
}

/* BORDERS */

/* clear border for a fixed amount */
.clear_bordering_fixed {
    border: 1px solid #6a6a6a;
    font-size: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 14px;
    padding-left: 10px;
    width: fit-content;
    max-height: 180px;
    overflow-y: auto;
    margin-bottom: 12px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

/* main clear bordering that is responsive */
.clear_bordering {
    border: 1px solid #6a6a6a;
    font-size: 17px;
    padding: 3px 25px 20px 25px;
    margin: 30px auto 12px auto;
    width: 95%;
    max-width: 1100px;
    max-height: 80%;
    overflow: auto;
    word-wrap: break-word;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

/* clear responsive bordering but less clear */
.slight_clear_bordering {
    border: 1px solid #6a6a6a;
    font-size: 17px;
    padding: 3px 25px 20px 25px;
    margin: 5px auto 12px auto;
    width: 95%;
    max-width: 1100px;
    max-height: 80%;
    overflow: auto;
    word-wrap: break-word;

    background-color: rgba(61, 61, 61, 0.9);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

/* clear bordering for the preview output box on template page */
.clear_bordering_out_box {
    border: 1px solid #6a6a6a;
    font-size: 17px;
    padding: 3px 5px 20px 5px;
    margin: 20px auto 12px auto;
    max-width: 50%;
    max-height: 80%;
    overflow: auto;
    word-wrap: break-word;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

/* BUTTONS */

button,
.btn {
    padding: 10px 16px;
    margin: 5px 0;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    background-color: #627277;
    color: white;
}

.clear_btn {
    border: 1px solid #6a6a6a;
    font-size: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 25px;
    padding-left: 25px;
    width: fit-content;
    max-height: fit-content;
    overflow-y: auto;
    margin-bottom: 12px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 25px;
}

.big-btn {
    padding: 12px 18px;
    margin: 5px 0;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    background-color: #627277;
    color: white;
}

button:hover,
.btn:hover,
.clear_btn:hover,
.big-btn:hover {
    background-color: #7b8f95;
}

/* ALIGNING */

/* grid format */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.column {
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column_left {
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* horizontal centering */
.h-aligning {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

/* vertical centering */
.v-aligning {
    margin-top: 200px;
}

/* spacing for text areas */
.text_spacing {
    margin-top: 10px;
    margin-bottom: 5px
}

/* centering and styling for images */
.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* padding for selection boxes */
#answer,
#questionTypes,
#tagSelection,
#languageSelection {
    padding-inline-start: 8px;
}

/* PROGRESS BAR */

.progressbar {
    margin: auto;
    padding: 10px;
    max-width: 70%;
    max-height: 80%;
    overflow: auto;
    word-wrap: break-word;
}

/*
* BEGIN ETHAN STYLING FOR ANSWER OPTIONS
* I do not claim to enjoy web design.
* I have given it my best shot, but the main goal was to HAVE the non-native style.
* Please change colors etc as needed and remove any states you deem unnecessary.
*/


ul.answer li {
    padding: 0;
    margin: 5px 0;
    font-size: 18px;
    border: 1px solid #627277;
    border-radius: 5px;
    background-color: none;
    color: CanvasText;
}

ul.answer li input[type="radio"],
ul.answer li input[type="checkbox"] {
    appearance: none;
    display: none;
}

ul.answer li {
    transition: background-color 0.1s;
}

ul.answer li label {
    display: block;
    padding: 12px 18px;
    cursor: pointer;
}

ul.answer li:hover {
    background-color: #6a6a6a;
}

ul.answer li:has(input:checked):hover {
    background-color: #627277;
}

ul.answer li:has(input:checked) {
    background-color: #7b8f95;
}

ul.answer li:has(input:disabled) {
    pointer-events: none;
    opacity: 0.5;
}

/* feeble attempt */
textarea.answer {
    padding: 12px 18px;
    margin: auto;
    width: 90%;
    font-size: 18px;
    border: 1px solid #627277;
    border-radius: 5px;
    text-decoration: none;
    background-color: none;
    color: CanvasText;
}


/* submit button styling  */

#submit-btn:disabled {
    opacity: 0.5;
}

#submit-btn {
    transition: opacity 0.1s;
}

/* theme- select button style */
 #theme-select {
    padding: 8px;
    border: 1px solid #627277;
    border-radius: 6px;
    background-color: Canvas;
    color:CanvasText;
    font-size: 15px;
    cursor: pointer;
}
/* keep theme Beside the Home buttoon*/
.theme-dropdown {
    position: relative;
    display: inline-block;
}

/* Position the dropdown below the theme button*/
#theme-picker {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    padding: 12px;
    background-color: Canvas;
    color:CanvasText;
    border: 1px solid #627277;
    border-radius: 6px;
    white-space: nowrap;
}