<!-- This file is the base file. It has the head data and the navigation bar. This data is extended by the other html files. -->

<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Ctrl Study</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="headerContainer">
        <div style="margin-bottom: 15px; padding-top: 5px; top:0; margin: 8px; margin-top: 0;">
            <strong>Ctrl Study</strong> |
            <a href="/" class="btn">Home</a>
            {% if not current_user.is_authenticated %}
            <a href="/login" class="btn">Login</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="/logout" class="btn">Logout</a>
            <a href="/account" class="btn">Account</a>
            {% endif %}
            {% block headerbar %}
            {% endblock %}
        </div>
        <hr />
    </div>

    <div style="margin: 8px;">
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>
