<!-- This is the home page. -->

{% extends "base.html" %}

{% block body %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="v-aligning">
  <h1 style="text-align: center; font-size: 65px;font-family: monospace;">Welcome to Ctrl+Study {{ username }}</h1>

  <div class="h-aligning" style="margin-top: 20px;">
    <a href="/template" class="big-btn">Template Builder</a><br>
    <a href="/quiz" class="big-btn">Start Quiz</a><br>
    <a href="/credits" class="big-btn">Credits!</a>
  </div>

</div>
{% endblock %}
