<!-- This is the quiz setup page. -->

{% extends "base.html" %} {% block body %}
<div>
    <div style="margin: 15px">
        <h1 style="text-align: center; font-size: 50px;font-family: monospace; margin-bottom: 10px;">Quiz</h1>
        {% if current_user.is_authenticated and current_user.role == "admin" %}
        <p style="text-align: center;"><a href="{{ url_for('customQuiz') }}" class="btn">Admin: hand-pick questions to test</a></p>
        {% endif %}
        <div class="clear_bordering">
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="container">
                    <!-- select question type -->
                    <div class="column">
                        <h3 style="font-size: 23px;">Select Question Types</h3>
                        <div class="clear_bordering_fixed" style="margin-top:25px; margin-bottom: 45px;">
                            {{ form.questionTypes(style="list-style:none") }}
                        </div>
                        <button type="button" id="select-all-questionTypes">Toggle All Question Types</button>
                    </div>

                    <!-- select tags -->
                    <div class="column">
                        <h3 style="font-size: 23px;">Select Tags</h3>
                        <div class="clear_bordering_fixed">
                            {{ form.tagSelection(style="list-style:none") }}
                        </div>
                        <button type="button" id="select-all-tags">Toggle All Tags</button>
                    </div>

                    <!-- select languages -->
                    <div class="column">
                        <h3 style="font-size: 23px;">Select Languages</h3>
                        <div class="clear_bordering_fixed" style="margin-top:45px; margin-bottom: 65px;">
                            {{ form.languageSelection(style="list-style:none") }}
                        </div>
                        <button type="button" id="select-all-languages">Toggle All Languages</button>
                    </div>
                </div>
                <div class="container h-aligning" style="margin-top: 25px">
                    <!-- question count -->
                    <div class="column">
                        <h3 style="font-size: 23px;">Question Count</h3>
                        {{ form.questionCount }}
                    </div>

                    <!-- seed -->
                    <div class="column">
                        <h3 style="font-size: 23px;">Seed</h3>
                        {{ form.seed }}
                    </div>
                </div>
        </div>
    </div>
    <br>
    <hr>
    <div style="text-align: center; margin: 20px;">
        {{ form.submit(class="btn") }}
    </div>
    </form>

    <script>
        function toggleCheckboxes(query) {
            var checkboxes = document.querySelectorAll(query);
            var toggle = (checkboxes[0].checked == true) ? false : true;
            checkboxes.forEach(checkbox => {
                checkbox.checked = toggle;
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('select-all-questionTypes').addEventListener('click', function (event) {
                toggleCheckboxes('input[name="questionTypes"]');
            });
            document.getElementById('select-all-tags').addEventListener('click', function (event) {
                toggleCheckboxes('input[name="tagSelection"]');
            });
            document.getElementById('select-all-languages').addEventListener('click', function (event) {
                toggleCheckboxes('input[name="languageSelection"]');
            });

            toggleCheckboxes('input[name="questionTypes"]');
            toggleCheckboxes('input[name="tagSelection"]');
            toggleCheckboxes('input[name="languageSelection"]');

        });
    </script>
</div>

{% endblock %}
